<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.common.shiro.dao.SysRoleResourceDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.common.shiro.bean.SysRoleResource">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="role_id" property="roleId" jdbcType="DECIMAL" />
        <result column="resource_id" property="resourceId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_qx_role_resource
        <where>
            <if test="searchText!=null and searchText!=''">
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_qx_role_resource
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.common.shiro.bean.SysRoleResource">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            <if test="_databaseId == 'mysql'">
                SELECT LAST_INSERT_ID() AS id
            </if>
            <if test="_databaseId == 'oracle'">
                SELECT t_qx_role_resource_id_seq.nextval AS id FROM dual
            </if>
        </selectKey>
        INSERT INTO t_qx_role_resource(
        id,role_id,resource_id)
        VALUES(
        #{id,jdbcType=DECIMAL},#{roleId,jdbcType=DECIMAL},#{resourceId,jdbcType=DECIMAL}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.common.shiro.bean.SysRoleResource">
        UPDATE t_qx_role_resource SET
        id=#{id,jdbcType=DECIMAL},role_id=#{roleId,jdbcType=DECIMAL},resource_id=#{resourceId,jdbcType=DECIMAL}
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_qx_role_resource WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_qx_role_resource
    </select>

    <select id="getResourceIdsByRoleId" resultType="java.lang.Long">
        SELECT resource_id FROM t_qx_role_resource WHERE role_id = #{roleId,jdbcType=DECIMAL}
    </select>

    <select id="getResourceIdsByRoleIds" resultType="java.lang.Long">
        SELECT resource_id FROM t_qx_role_resource
        <where>
            <if test="roleIdList!=null and roleIdList.size()>0">
                role_id IN
                <foreach item="item" index="index" collection="roleIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        DELETE FROM t_qx_role_resource WHERE role_id = #{roleId,jdbcType=DECIMAL}
    </delete>
</mapper>