<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.common.shiro.dao.SysRolePuriewDao">

	<select id="selectPuriewIdByRoleIds" resultType="java.lang.Long">
		select puriew_id from t_qx_role_puriew
		<where>
			<choose>
				<when test="roleIds!=null and roleIds.size()>0">
					role_id in
					<foreach item="item" index="index" collection="roleIds"
						open="(" separator="," close=")">
						#{item}
					</foreach>
				</when>
				<otherwise>
					1=2
				</otherwise>
			</choose>
		</where>
	</select>

</mapper>