<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.common.shiro.dao.SysResourceDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.common.shiro.bean.SysResource">
        <id column="resource_id" property="resourceId" jdbcType="DECIMAL"></id>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="DECIMAL"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
        <result column="type_desc" property="typeDesc" jdbcType="VARCHAR"/>
        <result column="res_icon" property="resIcon" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="INTEGER"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="valid" property="valid" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_qx_resource
        <where>
            <if test="searchText!=null and searchText!=''">

            </if>
        </where>
        ORDER BY seq
    </select>
    <select id="listByPid" resultMap="BaseResultMap">
        SELECT * FROM t_qx_resource
        <where>
            parent_id = #{parentId,jdbcType=DECIMAL}
            <if test="searchText!=null and searchText!=''">

            </if>
        </where>
        ORDER BY seq
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_qx_resource
        WHERE resource_id = #{resourceId,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.common.shiro.bean.SysResource">
        <selectKey resultType="java.lang.Long" keyProperty="resourceId" order="AFTER">
            <if test="_databaseId == 'mysql'">
                SELECT LAST_INSERT_ID() AS resource_id
            </if>
            <if test="_databaseId == 'oracle'">
                SELECT t_qx_resource_resource_id_seq.nextval AS resource_id FROM dual
            </if>
        </selectKey>
        INSERT INTO t_qx_resource(
        resource_id,name,parent_id,type_code,type_desc,res_icon,link,seq,note,create_time,update_time,valid,creater)
        VALUES(
        #{resourceId,jdbcType=DECIMAL},#{name,jdbcType=VARCHAR},#{parentId,jdbcType=DECIMAL},#{typeCode,jdbcType=VARCHAR},#{typeDesc,jdbcType=VARCHAR},#{resIcon,jdbcType=VARCHAR},#{link,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER},#{note,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{valid,jdbcType=VARCHAR},#{creater,jdbcType=DECIMAL}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.common.shiro.bean.SysResource">
        UPDATE t_qx_resource SET
        resource_id=#{resourceId,jdbcType=DECIMAL},name=#{name,jdbcType=VARCHAR},parent_id=#{parentId,jdbcType=DECIMAL},type_code=#{typeCode,jdbcType=VARCHAR},type_desc=#{typeDesc,jdbcType=VARCHAR},res_icon=#{resIcon,jdbcType=VARCHAR},link=#{link,jdbcType=VARCHAR},seq=#{seq,jdbcType=INTEGER},note=#{note,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=TIMESTAMP},update_time=#{updateTime,jdbcType=TIMESTAMP},valid=#{valid,jdbcType=VARCHAR},creater=#{creater,jdbcType=DECIMAL}
        WHERE resource_id = #{resourceId,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_qx_resource WHERE resource_id = #{resourceId,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_qx_resource ORDER BY seq
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT * FROM t_qx_resource
        <where>
            <if test="resourceIds!=null and resourceIds.size()>0">
            resource_id IN
            <foreach item="item" index="index" collection="resourceIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            </if>
        </where>
        ORDER BY seq
    </select>
</mapper>