<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.common.shiro.dao.SysUserDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.common.shiro.bean.SysUser">
        <id column="user_id" property="userId" jdbcType="DECIMAL"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="valid" property="valid" jdbcType="VARCHAR" />
        <result column="creater" property="creater" jdbcType="DECIMAL" />
        <result column="locked" property="locked" jdbcType="INTEGER" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_qx_user
        <where>
            valid = '1'
            <if test="searchText!=null and searchText!=''">
                AND CONCAT(user_name) LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_qx_user
        WHERE user_id = #{userId,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.common.shiro.bean.SysUser">
        <selectKey resultType="java.lang.Long" keyProperty="userId" order="AFTER">
            SELECT LAST_INSERT_ID() AS user_id
        </selectKey>
        INSERT INTO t_qx_user(
        user_id,user_name,seq,salt,password,create_time,update_time,valid,creater,locked)
        VALUES(
        #{userId,jdbcType=DECIMAL},#{userName,jdbcType=VARCHAR},#{seq,jdbcType=INTEGER},#{salt,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{valid,jdbcType=VARCHAR},#{creater,jdbcType=DECIMAL},#{locked,jdbcType=INTEGER}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.common.shiro.bean.SysUser">
        UPDATE t_qx_user SET
        user_id=#{userId,jdbcType=DECIMAL},user_name=#{userName,jdbcType=VARCHAR},seq=#{seq,jdbcType=INTEGER},salt=#{salt,jdbcType=VARCHAR},password=#{password,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=TIMESTAMP},update_time=#{updateTime,jdbcType=TIMESTAMP},valid=#{valid,jdbcType=VARCHAR},creater=#{creater,jdbcType=DECIMAL},locked=#{locked,jdbcType=INTEGER}
        WHERE user_id = #{userId,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_qx_user WHERE user_id = #{userId,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_qx_user
    </select>
</mapper>