<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.common.file.dao.FileDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.common.file.bean.CommonFileInfo">
        <id column="file_id" property="fileId" jdbcType="VARCHAR"></id>
        <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
        <result column="file_native_name" property="fileNativeName" jdbcType="VARCHAR" />
        <result column="file_generate_name" property="fileGenerateName" jdbcType="VARCHAR" />
        <result column="file_size" property="fileSize" jdbcType="DECIMAL" />
        <result column="relative_path" property="relativePath" jdbcType="VARCHAR" />
        <result column="absolute_path" property="absolutePath" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="creater" property="creater" jdbcType="DECIMAL" />
        <result column="valid" property="valid" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_sys_file
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_sys_file
        WHERE file_id = #{fileId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.common.file.bean.CommonFileInfo">
        INSERT INTO t_sys_file(
        file_id,file_suffix,file_native_name,file_generate_name,file_size,relative_path,absolute_path,create_time,update_time,creater,valid)
        VALUES(
        #{fileId,jdbcType=VARCHAR},#{fileSuffix,jdbcType=VARCHAR},#{fileNativeName,jdbcType=VARCHAR},#{fileGenerateName,jdbcType=VARCHAR},#{fileSize,jdbcType=DECIMAL},#{relativePath,jdbcType=VARCHAR},#{absolutePath,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{creater,jdbcType=DECIMAL},#{valid,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.common.file.bean.CommonFileInfo">
        UPDATE t_sys_file SET
        file_id=#{fileId,jdbcType=VARCHAR},file_suffix=#{fileSuffix,jdbcType=VARCHAR},file_native_name=#{fileNativeName,jdbcType=VARCHAR},file_generate_name=#{fileGenerateName,jdbcType=VARCHAR},file_size=#{fileSize,jdbcType=DECIMAL},relative_path=#{relativePath,jdbcType=VARCHAR},absolute_path=#{absolutePath,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=TIMESTAMP},update_time=#{updateTime,jdbcType=TIMESTAMP},creater=#{creater,jdbcType=DECIMAL},valid=#{valid,jdbcType=VARCHAR}
        WHERE file_id = #{fileId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM t_sys_file WHERE file_id = #{fileId,jdbcType=VARCHAR}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_sys_file
    </select>
</mapper>