<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--用户下拉框处理类-->
    <bean id="selectUserHandler" class="com.taiji.eap.common.taglib.select.handler.SelectUserHandler">
        <property name="nextHandler" ref="selectRoleHandler"></property>
    </bean>
    <!--角色表下拉框处理类-->
    <bean id="selectRoleHandler" class="com.taiji.eap.common.taglib.select.handler.SelectRoleHandler">
        <property name="nextHandler" ref="selectDataSourceHandler"></property>
    </bean>
    <!--数据源下拉框处理类-->
    <bean id="selectDataSourceHandler" class="com.taiji.eap.common.taglib.select.handler.SelectDataSourceHandler">
        <property name="nextHandler" ref="selectFormHandler"></property>
    </bean>
    <!--表单管理数据源下拉框处理类-->
    <bean id="selectFormHandler" class="com.taiji.eap.common.taglib.select.handler.SelectFormHandler">
        <property name="nextHandler" ref="selectFormVersionHandler"></property>
    </bean>
    <bean id="selectFormVersionHandler" class="com.taiji.eap.common.taglib.select.handler.SelectFormVersionHandler">
        <property name="nextHandler" ref="selectDictionaryHandler"></property>
    </bean>
    <bean id="selectDictionaryHandler" class="com.taiji.eap.common.taglib.select.handler.SelectDictionaryHandler">
        <property name="nextHandler" ref="spiderSelectHandler"></property>
    </bean>
    <bean id="spiderSelectHandler" class="com.taiji.eap.biz.spider.select.SpiderSelectHandler">
        <property name="nextHandler" ref="qyjbxxSelectHandler"></property>
    </bean>
    <bean id="qyjbxxSelectHandler" class="com.taiji.eap.biz.qyjbxx.select.QyjbxxSelectHandler">
        <property name="nextHandler" ref="jcdxxSelectHandler"></property>
    </bean>
    <bean id="jcdxxSelectHandler" class="com.taiji.eap.biz.jcdxx.select.JcdxxSelectHandler">
        <property name="nextHandler" ref="qybhSelectHandler"></property>
    </bean>
    <bean id="qybhSelectHandler" class="com.taiji.eap.biz.qyjbxx.select.QybhSelectHandler">
        <property name="nextHandler" ref="jcdbhSelectHandler"></property>
    </bean>
    <bean id="jcdbhSelectHandler" class="com.taiji.eap.biz.jcdxx.select.JcdbhSelectHandler">
        <property name="nextHandler" ref="jcxmSelectHandler"></property>
    </bean>
    <bean id="jcxmSelectHandler" class="com.taiji.eap.biz.jcxm.select.JcxmSelectHandler">
    </bean>
    <bean id="selectDataSourceHelper" class="com.taiji.eap.common.taglib.select.helper.SelectDataSourceHelper">
        <property name="handler" ref="selectUserHandler"></property>
    </bean>
</beans>