<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 启用CGliB -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>

    <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
    </bean>

	<!--启动 MVC注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters>

			<bean
				class="org.springframework.http.converter.ByteArrayHttpMessageConverter">
			</bean>
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<!-- json -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<!-- 避免IE出现下载JSON文件的情况 -->
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>

				<!-- json返回值 ，时间格式处理 -->
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>

				</property>
			</bean>
			<!-- xml -->
			<bean
				class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/xml;charset=UTF-8</value>
						<!-- 避免IE出现下载XML文件的情况 -->
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 表示多语言配置文件在根路径下，以language开头的文件 -->
		<property name="basename" value="classpath:i18n/language" />
		<!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为名称 -->
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	
	<!-- 配置国际化资源文件,包括动态切换 START -->
	<mvc:interceptors>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		</bean>
	</mvc:interceptors>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />


	<!-- 配置国际化资源文件,包括动态切换 END -->
	<context:component-scan base-package="org.jeecgframework.poi.excel.view,com.taiji.eap" />

	<context:property-placeholder
		ignore-unresolvable="true"
		location="classpath:properties/jdbc.properties,classpath:properties/redis.properties,classpath:properties/shiro.properties" />

	<import resource="classpath:spring-mybatis.xml" />
	<import resource="classpath:spring-velocity.xml" />
	<import resource="classpath:spring-redis.xml" />
	<import resource="classpath:spring-activiti.xml" />
	<import resource="classpath:spring-shiro.xml" />
	<import resource="classpath:spring-easypoi.xml"/>
	<!--责任链相关配置文件-->
	<import resource="classpath:corp/spring-select-datasource-helper.xml"></import>
</beans>
