<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.biz.qyjcxx.dao.QyjcxxDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.biz.qyjcxx.bean.Qyjcxx">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="parent_id" property="parentId" jdbcType="DECIMAL" />
        <result column="jcrq" property="jcrq" jdbcType="VARCHAR" />
        <result column="shen" property="shen" jdbcType="VARCHAR" />
        <result column="shi" property="shi" jdbcType="VARCHAR" />
        <result column="xian" property="xian" jdbcType="VARCHAR" />
        <result column="qymc" property="qymc" jdbcType="VARCHAR" />
        <result column="hylx" property="hylx" jdbcType="VARCHAR" />
        <result column="wrfzss" property="wrfzss" jdbcType="VARCHAR" />
        <result column="yxwtms" property="yxwtms" jdbcType="VARCHAR" />
        <result column="sfczsjzj" property="sfczsjzj" jdbcType="VARCHAR" />
        <result column="zjwtms" property="zjwtms" jdbcType="VARCHAR" />
        <result column="sfczyzpmdl" property="sfczyzpmdl" jdbcType="VARCHAR" />
        <result column="pmdlwtms" property="pmdlwtms" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_test_qyjcxx
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="listMap" resultType="java.util.Map">
        SELECT * FROM t_test_qyjcxx
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="listByPid" resultMap="BaseResultMap">
        SELECT * FROM t_test_qyjcxx
        <where>
            parent_id = #{parentId,jdbcType=DECIMAL}
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_test_qyjcxx
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.biz.qyjcxx.bean.Qyjcxx">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_test_qyjcxx(
        id,parent_id,jcrq,shen,shi,xian,qymc,hylx,wrfzss,yxwtms,sfczsjzj,zjwtms,sfczyzpmdl,pmdlwtms)
        VALUES(
        #{id,jdbcType=DECIMAL},#{parentId,jdbcType=DECIMAL},#{jcrq,jdbcType=VARCHAR},#{shen,jdbcType=VARCHAR},#{shi,jdbcType=VARCHAR},#{xian,jdbcType=VARCHAR},#{qymc,jdbcType=VARCHAR},#{hylx,jdbcType=VARCHAR},#{wrfzss,jdbcType=VARCHAR},#{yxwtms,jdbcType=VARCHAR},#{sfczsjzj,jdbcType=VARCHAR},#{zjwtms,jdbcType=VARCHAR},#{sfczyzpmdl,jdbcType=VARCHAR},#{pmdlwtms,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.biz.qyjcxx.bean.Qyjcxx">
        UPDATE t_test_qyjcxx SET
        id=#{id,jdbcType=DECIMAL},parent_id=#{parentId,jdbcType=DECIMAL},jcrq=#{jcrq,jdbcType=VARCHAR},shen=#{shen,jdbcType=VARCHAR},shi=#{shi,jdbcType=VARCHAR},xian=#{xian,jdbcType=VARCHAR},qymc=#{qymc,jdbcType=VARCHAR},hylx=#{hylx,jdbcType=VARCHAR},wrfzss=#{wrfzss,jdbcType=VARCHAR},yxwtms=#{yxwtms,jdbcType=VARCHAR},sfczsjzj=#{sfczsjzj,jdbcType=VARCHAR},zjwtms=#{zjwtms,jdbcType=VARCHAR},sfczyzpmdl=#{sfczyzpmdl,jdbcType=VARCHAR},pmdlwtms=#{pmdlwtms,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_test_qyjcxx WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_test_qyjcxx
    </select>

    <insert id="saveZfjcqk" parameterType="com.taiji.eap.biz.qyjcxx.bean.ZfjcJcqk" useGeneratedKeys="false">
          INSERT INTO t_hb_zfjc_jgxx_jcb
          (SJID,JCRQ,TBRID,TBRNAME,TBSJ,QYMC,HYLX,FZSSSFZC,FZSSSWTMS,SFZJ,SFZJMS,SFPMDL,SFPMDLMS,SHENG,SHI,XIAN,
          SHENGNAME,SHINAME,XIANNAME,SFYCB,SFBD,SFTC,PCID)
          VALUES (
          #{SJID,jdbcType=VARCHAR},#{JCRQ,jdbcType=VARCHAR},#{TBRID,jdbcType=VARCHAR},#{TBRNAME,jdbcType=VARCHAR},#{TBSJ,jdbcType=VARCHAR},
          #{QYMC,jdbcType=VARCHAR},#{HYLX,jdbcType=VARCHAR},#{FZSSSFZC,jdbcType=VARCHAR},#{FZSSSWTMS,jdbcType=VARCHAR},#{SFZJ,jdbcType=VARCHAR},
          #{SFZJMS,jdbcType=VARCHAR},#{SFPMDL,jdbcType=VARCHAR}, #{SFPMDLMS,jdbcType=VARCHAR},#{SHENG,jdbcType=VARCHAR},#{SHI,jdbcType=VARCHAR},
          #{XIAN,jdbcType=VARCHAR},#{SHENGNAME,jdbcType=VARCHAR}, #{SHINAME,jdbcType=VARCHAR},#{XIANNAME,jdbcType=VARCHAR},#{SFYCB,jdbcType=VARCHAR},
          #{SFBD,jdbcType=VARCHAR},#{SFTC,jdbcType=VARCHAR},#{PCID,jdbcType=VARCHAR})
    </insert>
    <insert id="saveJcdw" parameterType="com.taiji.eap.biz.qyjcxx.bean.Jcdw" useGeneratedKeys="false">
          INSERT INTO t_hb_zfjc_jgxx_jcdw
          (SJID,JCBID,JCDW,SFKZJC,SFAQ,SFGF,SFKZJCMS,SFAQMS,SFGFMS)
          VALUES
          (
          #{SJID,jdbcType=VARCHAR},
          #{JCBID,jdbcType=VARCHAR},
          #{JCDW,jdbcType=VARCHAR},
          #{SFKZJC,jdbcType=VARCHAR},
          #{SFAQ,jdbcType=VARCHAR},
          #{SFGF,jdbcType=VARCHAR},
          #{SFKZJCMS,jdbcType=VARCHAR},
          #{SFAQMS,jdbcType=VARCHAR},
          #{SFGFMS,jdbcType=VARCHAR}
          )
    </insert>
    <insert id="saveJcyz" parameterType="com.taiji.eap.biz.qyjcxx.bean.Jcyz" useGeneratedKeys="false">
           INSERT INTO T_HB_ZFJC_JCQK
           (SJID,JCRQ,TBRID,TBRNAME,TBSJ,SHENG,SHI,XIAN,SHENGNAME,SHINAME,XIANNAME,QYID,
           QYMC,HYLX,FZSSSFZC,FZSSSWTMS,SFZJ,SFZJMS,SFPMDL,SFPMDLMS,SFYCB,SFBD,SFTC,JCDWID,
           JCDW,SFKZJC,SFAQ,SFGF,JCYZ,HYL,SGJCSJ_QS,SGJCSJ_JS,SGJCJG,BZBH,BZXZ_SX,BZXZ_XX,
           SFCB,SFAZZX,SFAZZXBZ,SFLW,SFLWBZ,PCID,ROCK,GXSJ,SFKZJCMS,SFAQMS,SFGFMS,SGJCJG_ZS,ZXHYL,
           ZXJG,ZXJG_ZS,BZMC)
           VALUES
           (
           #{SJID,jdbcType=VARCHAR},
           #{JCRQ,jdbcType=VARCHAR},
           #{TBRID,jdbcType=VARCHAR},
           #{TBRNAME,jdbcType=VARCHAR},
           #{TBSJ,jdbcType=VARCHAR},
           #{SHENG,jdbcType=VARCHAR},
           #{SHI,jdbcType=VARCHAR},
           #{XIAN,jdbcType=VARCHAR},
           #{SHENGNAME,jdbcType=VARCHAR},
           #{SHINAME,jdbcType=VARCHAR},
           #{XIANNAME,jdbcType=VARCHAR},
           #{QYID,jdbcType=VARCHAR},
           #{QYMC,jdbcType=VARCHAR},
           #{HYLX,jdbcType=VARCHAR},
           #{FZSSSFZC,jdbcType=VARCHAR},
           #{FZSSSWTMS,jdbcType=VARCHAR},
           #{SFZJ,jdbcType=VARCHAR},
           #{SFZJMS,jdbcType=VARCHAR},
           #{SFPMDL,jdbcType=VARCHAR},
           #{SFPMDLMS,jdbcType=VARCHAR},
           #{SFYCB,jdbcType=VARCHAR},
           #{SFBD,jdbcType=VARCHAR},
           #{SFTC,jdbcType=VARCHAR},
           #{JCDWID,jdbcType=VARCHAR},
           #{JCDW,jdbcType=VARCHAR},
           #{SFKZJC,jdbcType=VARCHAR},
           #{SFAQ,jdbcType=VARCHAR},
           #{SFGF,jdbcType=VARCHAR},
           #{JCYZ,jdbcType=VARCHAR},
           #{HYL,jdbcType=VARCHAR},
           #{SGJCSJ_QS,jdbcType=VARCHAR},
           #{SGJCSJ_JS,jdbcType=VARCHAR},
           #{SGJCJG,jdbcType=VARCHAR},
           #{BZBH,jdbcType=VARCHAR},
           #{BZXZ_SX,jdbcType=VARCHAR},
           #{BZXZ_XX,jdbcType=VARCHAR},
           #{SFCB,jdbcType=VARCHAR},
           #{SFAZZX,jdbcType=VARCHAR},
           #{SFAZZXBZ,jdbcType=VARCHAR},
           #{SFLW,jdbcType=VARCHAR},
           #{SFLWBZ,jdbcType=VARCHAR},
           #{PCID,jdbcType=VARCHAR},
           #{ROCK,jdbcType=VARCHAR},
           #{GXSJ,jdbcType=VARCHAR},
           #{SFKZJCMS,jdbcType=VARCHAR},
           #{SFAQMS,jdbcType=VARCHAR},
           #{SFGFMS,jdbcType=VARCHAR},
           #{SGJCJG_ZS,jdbcType=VARCHAR},
           #{ZXHYL,jdbcType=VARCHAR},
           #{ZXJG,jdbcType=VARCHAR},
           #{ZXJG_ZS,jdbcType=VARCHAR},
           #{BZMC,jdbcType=VARCHAR})
    </insert>

    <select id="getNameByCode" parameterType="java.lang.String" resultType="java.lang.String">
              select c_name from eap_sys_util_codeclass where c_id = #{code,jdbcType=VARCHAR}


    </select>

    <select id="getCodeByName" parameterType="java.lang.String" resultType="java.lang.String">
              select c_id from eap_sys_util_codeclass where c_name = #{name,jdbcType=VARCHAR}
    </select>

</mapper>