<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.biz.qyjbxx.dao.QyjbxxDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="qybh" property="qybh" jdbcType="VARCHAR" />
        <result column="qymc" property="qymc" jdbcType="VARCHAR" />
        <result column="spider_id" property="spiderId" jdbcType="DECIMAL" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pw" property="loginPw" jdbcType="VARCHAR" />
        <result column="v_id" property="vId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <select id="selectByQybh" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx WHERE qybh = #{jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            <if test="_databaseId == 'mysql'">
                SELECT LAST_INSERT_ID() AS id            </if>
            <if test="_databaseId == 'oracle'">
                SELECT t_biz_qyjbxx_id_SEQ.nextval AS id FROM dual
            </if>
        </selectKey>
        INSERT INTO t_biz_qyjbxx(
        id,qybh,qymc,spider_id,login_name,login_pw,v_id)
        VALUES(
        #{id,jdbcType=DECIMAL},
        #{qybh,jdbcType=VARCHAR},
        #{qymc,jdbcType=VARCHAR},
        #{spiderId,jdbcType=DECIMAL},
        #{loginName,jdbcType=VARCHAR},
        #{loginPw,jdbcType=VARCHAR},
        #{vId,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        UPDATE t_biz_qyjbxx SET
        id=#{id,jdbcType=DECIMAL},
        qybh=#{qybh,jdbcType=VARCHAR},
        qymc=#{qymc,jdbcType=VARCHAR},
        spider_id=#{spiderId,jdbcType=DECIMAL},
        login_name=#{loginName,jdbcType=VARCHAR},
        login_pw=#{loginPw,jdbcType=VARCHAR},
        v_id=#{vId,jdbcType=VARCHAR},
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_biz_qyjbxx WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
    </select>

    <select id="getQybhByQymc" resultType="com.taiji.eap.common.dictionary.bean.Dictionary">
           select id keystone,qymc value from hb_sjcj_qy_jbxx where qymc like concat(concat('%',#{qymc}),'%')
    </select>

    <select id="getQyfaxxs" resultType="com.taiji.eap.biz.qyjbxx.bean.Qyfaxx">
        SELECT V_ID,FAMC,VERSION,FAKSSJ,ZT FROM hb_sjcj_qy_jcxx_v where (zt = '6' or zt = '5') and qybh = #{qybh,jdbcType=VARCHAR}
    </select>

    <update id="updateQyfaxx" parameterType="string">
        UPDATE t_biz_qyjbxx SET v_id = #{vid,jdbcType=VARCHAR} WHERE qybh = #{qybh,jdbcType=VARCHAR}
    </update>

</mapper>