<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.biz.qyjbxx.dao.QyjbxxDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="qybh" property="qybh" jdbcType="VARCHAR" />
        <result column="qymc" property="qymc" jdbcType="VARCHAR" />
        <result column="spider_id" property="spiderId" jdbcType="DECIMAL" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="login_pw" property="loginPw" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            <if test="_databaseId == 'mysql'">
                SELECT LAST_INSERT_ID() AS id            </if>
            <if test="_databaseId == 'oracle'">
                SELECT t_biz_qyjbxx_id_SEQ.nextval AS id FROM dual
            </if>
        </selectKey>
        INSERT INTO t_biz_qyjbxx(
        id,qybh,qymc,spider_id,login_name,login_pw)
        VALUES(
        #{id,jdbcType=DECIMAL},#{qybh,jdbcType=VARCHAR},#{qymc,jdbcType=VARCHAR},#{spiderId,jdbcType=DECIMAL},#{loginName,jdbcType=VARCHAR},#{loginPw,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.biz.qyjbxx.bean.Qyjbxx">
        UPDATE t_biz_qyjbxx SET
        id=#{id,jdbcType=DECIMAL},qybh=#{qybh,jdbcType=VARCHAR},qymc=#{qymc,jdbcType=VARCHAR},spider_id=#{spiderId,jdbcType=DECIMAL},login_name=#{loginName,jdbcType=VARCHAR},login_pw=#{loginPw,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_biz_qyjbxx WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_biz_qyjbxx
    </select>
</mapper>