##=================================全局变量=====================================
##设置父节点ID
#set($parentField = "#camel(${param.parentField})")
##=================================全局方法=====================================
## 驼峰命名法转换
#macro(camel $word)
#set ($array = $word.split("_"))
#set ($camelWord = "")
#foreach($item in $!{array})
#set ($camelWord=$camelWord+$item.substring(0,1).toUpperCase()+$item.substring(1,$item.length()))
#end
#set ($camelWord=$camelWord.substring(0,1).toLowerCase()+$camelWord.substring(1,$camelWord.length()))
${camelWord}##
#end
##驼峰命名法转换+首字母大写
#macro(camelToUpperCase $word)
#set ($array = $word.split("_"))
#set ($camelWord = "")
#foreach($item in $!{array})
#set ($camelWord=$camelWord+$item.substring(0,1).toUpperCase()+$item.substring(1,$item.length()))
#end
#set ($camelWord=$camelWord.substring(0,1).toLowerCase()+$camelWord.substring(1,$camelWord.length()))
#set ($newWord=${camelWord.substring(0,1).toUpperCase()}+${camelWord.substring(1,$camelWord.length())})
${newWord}##
#end
## 大小写字母转换
#macro(toUpperCase $word)
#set ($newWord=${word.substring(0,1).toUpperCase()}+${word.substring(1,$word.length())})
${newWord}##
#end
##数据库字段类型转java字段类型
#macro(toFieldType $fieldType)
#if($!fieldType=="varchar")
String##
#elseif($!fieldType=="bigint")
Long##
#elseif($!fieldType=="int")
Integer##
#elseif($!fieldType=="datetime")
Date##
#end
#end
##数据库字段类型转java字段类型
#macro(toJavaType $fieldType)
#if($!fieldType=="varchar")
java.lang.String##
#elseif($!fieldType=="bigint")
java.lang.Long##
#elseif($!fieldType=="int")
java.lang.Integer##
#elseif($!fieldType=="datetime")
java.util.Date##
#end
#end
##数据库字段类型转JDBCTYPE
#macro(toJdbcType $fieldType)
#if($!fieldType=="varchar")
VARCHAR##
#elseif($!fieldType=="bigint")
DECIMAL##
#elseif($!fieldType=="int")
INTEGER##
#elseif($!fieldType=="datetime")
TIMESTAMP##
#end
#end
##获取实体类包名
#macro(getBeanPackage $packageName$alias$aliasUse)
#if(${aliasUse}=="1")
#set ($package = ${packageName}+"."+${alias}+".bean")
#else
#set ($package = ${packageName}+".bean")
#end
${package}##
#end
##获取Dao包名
#macro(getDaoPackage $packageName$alias$aliasUse)
#if(${aliasUse}=="1")
#set ($package = ${packageName}+"."+${alias}+".dao")
#else
#set ($package = ${param.packageName}+".dao")
#end
${package}##
#end
##获取Service包名
#macro(getServicePackage $packageName$alias$aliasUse)
#if(${aliasUse}=="1")
#set ($package = ${packageName}+"."+${alias}+".service")
#else
#set ($package = ${param.packageName}+".service")
#end
${package}##
#end
##获取ServiceImpl包名
#macro(getServiceImplPackage $packageName$alias$aliasUse)
#if(${aliasUse}=="1")
#set ($package = ${packageName}+"."+${alias}+".service.impl")
#else
#set ($package = ${param.packageName}+".service.impl")
#end
${package}##
#end
##获取Controller包名
#macro(getControllerPackage $packageName$alias$aliasUse)
#if(${aliasUse}=="1")
#set ($package = ${packageName}+"."+${alias}+".controller")
#else
#set ($package = ${param.packageName}+".controller")
#end
${package}##
#end
##获取主键
#macro(getPkColumn $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result=${column.columnName})
#end
#end
${result}##
#end
##获取主键属性名
#macro(getPkProperty $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result="#camel(${column.columnName})")
#end
#end
${result}##
#end
##获取大写主键属性名
#macro(getPkUpperCaseProperty $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result="#camel(${column.columnName})")
#end
#end
#toUpperCase(${result})##
#end
##获取主键类型
#macro(getPkJdbcType $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result="#toJdbcType(${column.dataType})")
#end
#end
${result}##
#end
##获取主键JAVA类型
#macro(getPkJavaType $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result="#toJavaType(${column.dataType})")
#end
#end
${result}##
#end
##获取主键toFieldType类型
#macro(getPkFieldType $columns)
#foreach($column in $columns)
#if(${column.columnKey}=="PRI")
#set($result="#toFieldType(${column.dataType})")
#end
#end
${result}##
#end
##获取父节点ID的toFieldType类型
#macro(getParentIdFieldType $columns)
#foreach($column in $columns)
#if(${column.columnName}=="${param.parentField}")
#set($result="#toFieldType(${column.dataType})")
#end
#end
${result}##
#end
##获取父节点ID的toFieldType类型
#macro(getParentIdJdbcType $columns)
#foreach($column in $columns)
#if(${column.columnName}=="${param.parentField}")
#set($result="#toJdbcType(${column.dataType})")
#end
#end
${result}##
#end