<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@include file="/WEB-INF/views/system/common/base.jsp"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse("velocity/common.vm" )
<html>
<head>
    <title>${param.alias}</title>
</head>
<body>
<form id="form" class="layui-form" style="margin-top: 20px" lay-filter="form">
#if(${param.formColumnNum}=="2")
    <table class="layui-table">
#foreach($column in $formColumns)
#set($temp=$velocityCount)
#set($temp=$temp - 1)
#if(${temp}%2==0)
        <tr>
#end
#if(${column.inputType}=="01")
                ##输入框
            <td><label class="layui-form-label">${column.columnComment}</label></td>
            <td colspan="2">
                <input type="text" name="#camel(${column.columnName})" #isRequired(${column.columnName}) lay-verify="${column.verify}" placeholder="请输入${column.columnComment}" autocomplete="off" class="layui-input">
            </td>
#elseif(${column.inputType}=="02")
                ##下拉选择框
            <td><label class="layui-form-label">${column.columnComment}</label></td>
            <td colspan="2">
                <dic:selectTag parentId="${column.param}" id="#camel(${column.required})" nullName="请选择" selectName="#camel(${column.columnName})" layfilter="#camel(${column.columnName})"/>
            </td>
#elseif(${column.inputType}=="03")
                ##复选框
            <td><label class="layui-form-label">${column.columnComment}</label></td>
            <td colspan="2">
                <dic:checkboxTag name="#camel(${column.columnName})" parentId="${column.param}" />
            </td>
#elseif(${column.inputType}=="04")
                ##开关
            <td><label class="layui-form-label">${column.columnComment}</label></td>
            <td colspan="2">
                <input type="checkbox" name="#camel(${column.columnName})" lay-skin="switch" lay-text="开|关">
            </td>
#elseif(${column.inputType}=="05")
                ##单选
            <td><label class="layui-form-label">${column.columnComment}</label></td>
            <td colspan="2">
                <dic:radioTag parentId="${column.param}" name="#camel(${column.columnName})"></dic:radioTag>
            </td>
#end
#if((${temp}+1)%2==0)
        </tr>
#end
#end
        <tr>
            <td colspan="3" align="center"><button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button></td>
            <td colspan="3" align="center"><button type="reset" class="layui-btn layui-btn-primary">重置</button></td>
        </tr>
    </table>
#else
#foreach($column in $formColumns)
        <div class="layui-form-item">
            <label class="layui-form-label">${column.columnComment}</label>
        <div class="layui-input-block" style="margin-right: 10px;width: 300px">
#if(${column.inputType}=="01")
            ##输入框
                <input type="text" name="#camel(${column.columnName})" #isRequired(${column.columnName}) lay-verify="${column.verify}" placeholder="请输入${column.columnComment}" autocomplete="off" class="layui-input">
#elseif(${column.inputType}=="02")
            ##下拉选择框
                <dic:selectTag parentId="${column.param}" id="#camel(${column.required})"  selectName="#camel(${column.columnName})" nullName="请选择" layfilter="#camel(${column.columnName})"/>
#elseif(${column.inputType}=="03")
            ##复选框
                <dic:checkboxTag name="#camel(${column.columnName})" parentId="${column.param}" checkPositions="all" />
#elseif(${column.inputType}=="04")
            ##开关
                <input type="checkbox" name="#camel(${column.columnName})" lay-skin="switch" lay-text="开|关">
#elseif(${column.inputType}=="05")
            ##单选
                <dic:radioTag parentId="${column.param}" name="#camel(${column.columnName})"></dic:radioTag>
#end
        </div>
    </div>
#end
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-right: 10px">
            <button class="layui-btn" lay-submit lay-filter="submitBtn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
#end
##===============获取是否必填的方法start==================
#macro(isRequired $required)
#if($!required=="01")
required##
#end
#end
##===============获取是否必填的方法end==================

#foreach($column in $columns)
#if($!{column.formShow}!="01")
    <input id="#camel(${column.columnName})" type="hidden" name="#camel(${column.columnName})">
#end
#end
</form>
</body>
<script type="text/javascript">
    #set($pkparam = "param.")
    var #getPkProperty($columns) = ${${pkparam}#getPkProperty($columns)};
    var url = "${pageContext.request.contextPath}/${param.alias}/add";
    layui.use(['form'],function () {
        var form = layui.form;
        form.render();

        if(#getPkProperty($columns)){
            url = "${pageContext.request.contextPath}/${param.alias}/edit";
            $.get("${pageContext.request.contextPath}/${param.alias}/selectOne",{
                #getPkProperty($columns):#getPkProperty($columns)##

            },function (data,status) {
                    if(status=="success"){
                        if(data.body.resultCode=="0"){
                            $('#form').clearForm();
                            $('#form').form('load',data.body.entity);
                            form.render();
                        }else {
                            parent.layer.msg(data.body.resultContent, {icon: 5});
                        }
                    }else {
                        parent.layer.msg('网络错误', {icon: 5});
                    }
                })
            }
#if(${param.isTree}=="01")
    $("#${parentField}").val(parent.currentId);
#end
        form.on("submit(submitBtn)",function (data,status) {
            $.post(url,$("#form").serializeArray(),function (data,status) {
                if(status=='success'){
                    if(data.body.resultCode=="0"){
                        //关闭录入窗口
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.refreshTable();
                    }else {
                        parent.layer.msg(data.body.resultContent, {icon: 5});
                    }
                }else {
                    parent.layer.msg('网络错误', {icon: 5});
                }
            }).error(function (e) {
                parent.layer.msg('网络错误'+e.status, {icon: 5});
            });
            return false;
        });

    });
</script>
</html>