#parse("velocity/common.vm" )
#set ($beanPackage = "#getBeanPackage(${param.packageName}${param.alias}${param.aliasUse})")
#set ($daoPackage = "#getDaoPackage(${param.packageName}${param.alias}${param.aliasUse})")
#set ($servicePackage = "#getServicePackage(${param.packageName}${param.alias}${param.aliasUse})")
#set ($serviceImplPackage = "#getServiceImplPackage(${param.packageName}${param.alias}${param.aliasUse})")
package ${serviceImplPackage};

import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import ${beanPackage}.#toUpperCase(${param.alias});
import ${daoPackage}.#toUpperCase(${param.alias})Dao;
import ${servicePackage}.#toUpperCase(${param.alias})Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.ArrayList;
import java.util.Collections;
import java.util.List;

@Service
public class #toUpperCase(${param.alias})ServiceImpl implements #toUpperCase(${param.alias})Service{

    @Autowired
    private #toUpperCase(${param.alias})Dao ${param.alias}Dao;

    @Transactional
    @Override
    public int deleteByPrimaryKey(#getPkFieldType($columns) primaryKey) {
        return ${param.alias}Dao.deleteByPrimaryKey(primaryKey);
    }

    @Transactional
    @Override
    public int insert(#toUpperCase(${param.alias}) ${param.alias}) {
        return ${param.alias}Dao.insert(${param.alias});
    }

    @Override
    public #toUpperCase(${param.alias}) selectByPrimaryKey(#getPkFieldType($columns) primaryKey) {
        return ${param.alias}Dao.selectByPrimaryKey(primaryKey);
    }

    @Transactional
    @Override
    public int updateByPrimaryKey(#toUpperCase(${param.alias}) ${param.alias}) {
        return ${param.alias}Dao.updateByPrimaryKey(${param.alias});
    }

    @Override
    public List<#toUpperCase(${param.alias})> list(String searchText) {
        return ${param.alias}Dao.list(searchText);
    }

    @Override
    public PageInfo<#toUpperCase(${param.alias})> list(int pageNum, int pageSize, String searchText) throws Exception {
        PageHelper.startPage(pageNum,pageSize);
        List<#toUpperCase(${param.alias})> ${param.alias}s = ${param.alias}Dao.list(searchText);
        PageInfo<#toUpperCase(${param.alias})> pageInfo = new PageInfo<#toUpperCase(${param.alias})>(${param.alias}s);
        return pageInfo;
    }
#if(${param.isTree}=="01")

    @Override
    public List<#toUpperCase(${param.alias})> listByPid(#getParentIdFieldType($columns) ${parentField}) throws Exception {
        return ${param.alias}Dao.listByPid(${parentField},"");
    }

    @Override
    public PageInfo<#toUpperCase(${param.alias})> listByPid(#getParentIdFieldType($columns) ${parentField}, int pageNum, int pageSize, String searchText) throws Exception {
        PageHelper.startPage(pageNum, pageSize);
        List<#toUpperCase(${param.alias})> list = ${param.alias}Dao.listByPid(parentId,searchText);
        PageInfo<#toUpperCase(${param.alias})> pageInfo = new PageInfo<#toUpperCase(${param.alias})>(list);
        return pageInfo;
    }

    @Override
    public List<#toUpperCase(${param.alias})> getPath(#getPkFieldType($columns) #getPkProperty($columns)) throws Exception {
        List<#toUpperCase(${param.alias})> list = new ArrayList<#toUpperCase(${param.alias})>();
        if(#getPkProperty($columns)!=0){
            disPlay(#getPkProperty($columns), list);
        }
        list.add(new #toUpperCase(${param.alias})(0L,"根路径"));
        Collections.reverse(list);
        return list;
    }

    private void disPlay(#getPkFieldType($columns) #getPkProperty($columns),List<#toUpperCase(${param.alias})> list){
    #toUpperCase(${param.alias}) ${param.alias} = ${param.alias}Dao.selectByPrimaryKey(#getPkProperty($columns));
        if(${param.alias}!=null){
            list.add(${param.alias});
            disPlay(${param.alias}.get#camelToUpperCase(${parentField})(), list);
        }
    }
#end
}