<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.biz.test.dao.TestDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.biz.test.bean.Test">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="jcdw" property="jcdw" jdbcType="VARCHAR" />
        <result column="sfkzjc" property="sfkzjc" jdbcType="VARCHAR" />
        <result column="jcptsfaq" property="jcptsfaq" jdbcType="VARCHAR" />
        <result column="jcdwsfgf" property="jcdwsfgf" jdbcType="VARCHAR" />
        <result column="jcyz" property="jcyz" jdbcType="VARCHAR" />
        <result column="sgjcsj" property="sgjcsj" jdbcType="VARCHAR" />
        <result column="sgjcjg" property="sgjcjg" jdbcType="VARCHAR" />
        <result column="bzbh" property="bzbh" jdbcType="VARCHAR" />
        <result column="bzxz" property="bzxz" jdbcType="VARCHAR" />
        <result column="sfcb" property="sfcb" jdbcType="VARCHAR" />
        <result column="sfazzxjc" property="sfazzxjc" jdbcType="VARCHAR" />
        <result column="sflw" property="sflw" jdbcType="VARCHAR" />
        <result column="tbzxjcjg" property="tbzxjcjg" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT() LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.biz.test.bean.Test">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            <if test="_databaseId == 'mysql'">
                SELECT LAST_INSERT_ID() AS id
            </if>
            <if test="_databaseId == 'oracle'">
                SELECT t_test_test1_id_seq.nextval AS id FROM dual
            </if>
        </selectKey>
        INSERT INTO t_test_test1(
        id,jcdw,sfkzjc,jcptsfaq,jcdwsfgf,jcyz,sgjcsj,sgjcjg,bzbh,bzxz,sfcb,sfazzxjc,sflw,tbzxjcjg)
        VALUES(
        #{id,jdbcType=DECIMAL},#{jcdw,jdbcType=VARCHAR},#{sfkzjc,jdbcType=VARCHAR},#{jcptsfaq,jdbcType=VARCHAR},#{jcdwsfgf,jdbcType=VARCHAR},#{jcyz,jdbcType=VARCHAR},#{sgjcsj,jdbcType=VARCHAR},#{sgjcjg,jdbcType=VARCHAR},#{bzbh,jdbcType=VARCHAR},#{bzxz,jdbcType=VARCHAR},#{sfcb,jdbcType=VARCHAR},#{sfazzxjc,jdbcType=VARCHAR},#{sflw,jdbcType=VARCHAR},#{tbzxjcjg,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.biz.test.bean.Test">
        UPDATE t_test_test1 SET
        id=#{id,jdbcType=DECIMAL},jcdw=#{jcdw,jdbcType=VARCHAR},sfkzjc=#{sfkzjc,jdbcType=VARCHAR},jcptsfaq=#{jcptsfaq,jdbcType=VARCHAR},jcdwsfgf=#{jcdwsfgf,jdbcType=VARCHAR},jcyz=#{jcyz,jdbcType=VARCHAR},sgjcsj=#{sgjcsj,jdbcType=VARCHAR},sgjcjg=#{sgjcjg,jdbcType=VARCHAR},bzbh=#{bzbh,jdbcType=VARCHAR},bzxz=#{bzxz,jdbcType=VARCHAR},sfcb=#{sfcb,jdbcType=VARCHAR},sfazzxjc=#{sfazzxjc,jdbcType=VARCHAR},sflw=#{sflw,jdbcType=VARCHAR},tbzxjcjg=#{tbzxjcjg,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_test_test1 WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
    </select>
</mapper>