<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taiji.eap.biz.test.dao.TestDao">
    <resultMap id="BaseResultMap" type="com.taiji.eap.biz.test.bean.Test">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="test1" property="test1" jdbcType="VARCHAR" />
        <result column="test2" property="test2" jdbcType="VARCHAR" />
        <result column="test3" property="test3" jdbcType="VARCHAR" />
        <result column="test4" property="test4" jdbcType="VARCHAR" />
        <result column="test5" property="test5" jdbcType="VARCHAR" />
        <result column="test6" property="test6" jdbcType="VARCHAR" />
        <result column="test7" property="test7" jdbcType="VARCHAR" />
        <result column="test8" property="test8" jdbcType="VARCHAR" />
        <result column="test9" property="test9" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
        <where>
            <if test="searchText!=null and searchText!=''">
                AND CONCAT(test5,',',test6,',',test7,',',test8,',',test9) LIKE CONCAT("%",#{searchText},"%")
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
        WHERE id = #{id,jdbcType=DECIMAL}
    </select>

    <insert id="insert" parameterType="com.taiji.eap.biz.test.bean.Test">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_test_test1(
        id,test1,test2,test3,test4,test5,test6,test7,test8,test9)
        VALUES(
        #{id,jdbcType=DECIMAL},#{test1,jdbcType=VARCHAR},#{test2,jdbcType=VARCHAR},#{test3,jdbcType=VARCHAR},#{test4,jdbcType=VARCHAR},#{test5,jdbcType=VARCHAR},#{test6,jdbcType=VARCHAR},#{test7,jdbcType=VARCHAR},#{test8,jdbcType=VARCHAR},#{test9,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.taiji.eap.biz.test.bean.Test">
        UPDATE t_test_test1 SET
        id=#{id,jdbcType=DECIMAL},test1=#{test1,jdbcType=VARCHAR},test2=#{test2,jdbcType=VARCHAR},test3=#{test3,jdbcType=VARCHAR},test4=#{test4,jdbcType=VARCHAR},test5=#{test5,jdbcType=VARCHAR},test6=#{test6,jdbcType=VARCHAR},test7=#{test7,jdbcType=VARCHAR},test8=#{test8,jdbcType=VARCHAR},test9=#{test9,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=DECIMAL}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM t_test_test1 WHERE id = #{id,jdbcType=DECIMAL}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM t_test_test1
    </select>
</mapper>